LOCATE COMP "io_clk" SITE "A9";
IOBUF PORT "io_clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "io_clk" 25.0 MHZ;

LOCATE COMP "io_in0" SITE "B10";
IOBUF PORT "io_in0" IO_TYPE=LVCMOS33;

LOCATE COMP "io_out0" SITE "C11";
IOBUF PORT "io_out0" IO_TYPE=LVCMOS33;